<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pavelrekun.rekado">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".RekadoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/RekadoBaseTheme">

        <activity
            android:name=".screens.main_activity.MainActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".screens.about_activity.AboutActivity"
            android:label="@string/navigation_about"
            android:launchMode="singleTop" />

        <activity
            android:name=".screens.settings_activity.SettingsActivity"
            android:label="@string/navigation_settings"
            android:launchMode="singleTop" />

        <activity
            android:name=".services.usb.USBReceiver"
            android:excludeFromRecents="true"
            android:exported="false"
            android:label="@string/app_name"
            android:noHistory="true"
            android:taskAffinity="com.example.taskAffinityUsbEventReceiver"
            android:theme="@style/RekadoInvisibleTheme">
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>
            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />
        </activity>

    </application>
</manifest>